@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.content-container {
    max-width: 1156px;
}

.content-container h1 {
    font-size: 36pt;
    margin-bottom: 1.5rem;
}

.content-container h2 {
    font-size: 24pt;
    font-weight: bold;
}

.content-container p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

a:hover {
    color: rgb(98, 175, 194);
}